@import "tailwindcss";
@import "tw-animate-css";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --color-sparkles-color: var(----sparkles-color);
  --color-gradient-color: var(----gradient-color);
}

:root {
  --background: #f9fafb;
  --foreground: #111827;
  --primary: #2563eb;
  --primary-foreground: #ffffff;
  --secondary: #f3f4f6;
  --secondary-foreground: #111827;
  --muted: #f3f4f6;
  --muted-foreground: #6b7280;
  --accent: #f3f4f6;
  --accent-foreground: #111827;
  --destructive: #ef4444;
  --destructive-foreground: #ffffff;
  --border: #e5e7eb;
  --input: #e5e7eb;
  --ring: #2563eb;
  --card: #ffffff;
  --card-foreground: #111827;
  --gradient-color: #8350e8;
  --sparkles-color: #8350e8;
}

.dark {
  --background: #09090b;
  --foreground: #fafafa;
  --primary: #3b82f6;
  --primary-foreground: #ffffff;
  --secondary: #27272a;
  --secondary-foreground: #fafafa;
  --muted: #27272a;
  --muted-foreground: #a1a1aa;
  --accent: #27272a;
  --accent-foreground: #fafafa;
  --destructive: #ef4444;
  --destructive-foreground: #ffffff;
  --border: #27272a;
  --input: #27272a;
  --ring: #3b82f6;
  --card: #09090b;
  --card-foreground: #fafafa;
  --gradient-color: #8350e8;
  --sparkles-color: #ffffff;
}

.dark {
  --gradient-color: #8350e8;
  --sparkles-color: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}
